body{
    margin: 0px;
}

.wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box{
    border: 1px solid blue;
    width: 100%;  
    /* margin: 0.4em; */
    padding: 1em;
    box-sizing: border-box;

}

.inner{
    border: 1px solid red;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .box{
        width: 100%;
    }
}

@media screen and (min-width: 769px) and (max-width:1200px) {
    .box{
        width: 50%;
    }
}

@media screen and (min-width: 1201px) {
    .box{
        width: 25%;
    }
}